  <header >
    <nav class="navbar navbar-expand-lg navbar-light " style="background: #f05e1b;">
      <div style="margin-left: 3rem"><a class="navbar-brand text-white" href="#">Admin Panel</a></div>
      <button style="background: #F8E831;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
          <li class="nav-item active">
            <a class="nav-link text-white" href="/admin/">All Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">All Orders</a>
          </li>
          <li class="nav-item text-white">
            <a class="nav-link text-white" href="#">All Users</a>
          </li>
        </ul>
        <div style="margin-left: auto;">
        <form  class="form-inline my-2 my-lg-0 ">
          {{!-- <input class="form-control mr-sm-2 " type="search" placeholder="Search"></div> --}}
          <a href="/admin/add-product/"  style="background:#F8E831;color:black;margin-left:5px;margin-right:5px" class="btn btn-outline-warning my-2 my-sm-0 " type="submit">Add products</a></div>
        </form></div>
      </div>
    </nav>
  </header>